<div class="footer">
    <p>
        <a href="#">Главная</a>
        <a href="#">Фильмы</a>
        <a href="#">Сериалы</a>
        <a href="#">Рейтинг Фильмов</a>
        <a href="#">Контакты</a>
    </p>
    <p>
        Даниил.com 2021
    </p>
</div>