<div class="footer">
    <p>
        <a href="#">Главная</a>
        <a href="#">Фильмы</a>
        <a href="#">Сериалы</a>
        <a href="#">Рейтинг Фильмов</a>
        <a href="#">Контакты</a>
    </p>
    <p>
        Kinofilm.com 2021-2023
    </p>
</div>