<div class="sidebar">
    <% if user_signed_in? %>
        <h2>Здравствуйте</h2>
        <input type="text" placeholder="<%= current_user.name %>" readonly/>
        <input type="text" placeholder="<%= current_user.email %>" readonly/>
        <%= link_to "выйти", users_path %>
    <% else %>
        <h2>Вход</h2>
        <form method="post" action="#" id="login">

            <input type="text" name="login_field" placeholder="логин" />
            <input type="password" name="password_field" placeholder="пароль" />
            <input type="submit" class="btn" value="вход" />
            <div class="lables_passreg_text">
                <span><a href="#">забыли пароль?</a></span> | <span><%= link_to "регистрация", new_user_path %></span>
            </div>
        </form>
    <% end %> 
</div>