<div class="sidebar">
    <h2>Новости</h2>
    <% if event.present? %>
        <span><%= event.date_event %></span>
        <p><%= link_to event.title, event %></p>
    <% else %>
        <p>Новостей нет, но скоро появятся</p>
    <% end %>
</div>