<div class="sidebar">
    <h2>Рейтинг фильмов</h2>
    <ul>
        <li><a href="show.html">Интерстеллар</a><span class="rating_sidebar">8.6</span></li>
        <li><a href="#">Матрица</a><span class="rating_sidebar">8.5</span></li>
        <li><a href="#">Безумный Макс</a><span class="rating_sidebar">8.4</span></li>
        <li><a href="#">Облачный Атлас</a><span class="rating_sidebar">8.1</span></li>
    </ul>
</div>