<div class="sidebar">
    <h2>Рейтинг фильмов</h2>
    <ul>
        <% @films.each do |film| %>
            <li><a href="show.html"><%= film.name %></a><span class="rating_sidebar"><%= film.rating %></span></li>
        <% end %>
    </ul>
</div>