<div class="posts">
<hr>
<h2><a href="#">Как снимали Интерстеллар</a></h2>
<div class="posts_content">
    <p>
        Когда засуха, пыльные бури и вымирание растений приводят человечество к продовольственному кризису, коллектив исследователей и учёных отправляется сквозь червоточину (которая предположительно соединяет области пространства-времени через большое расстояние) в путешествие, чтобы превзойти прежние ограничения для космических путешествий человека и найти планету с подходящими для человечества условиями.
    </p>
</div>
<input class="btn" type="submit" value="читать">

<hr>
<h2><a href="#">Режиссеры жаловались Кристоферу Нолану на «неразборчивые» диалоги в «Интерстелларе»</a></h2>
<div class="posts_content">
    <p>
        После выхода «Интерстеллара» несколько кинематографистов пожаловались Кристоферу Нолану на звук в его фильме. Об этом он рассказал в книге Тома Шоуна «Вариации Нолана» («Nolan Variations») о творчестве режиссера. Нолан признался, что его удивил консерватизм зрителей в отношении звука в кино.
    </p>
</div>